# Reference: https://prettier.io/docs/en/ignore

# Compare the ignore patterns in this file with the .vscode/settings.json to
# ensure consistency over which file types Prettier is applied.

# Defaults:
# Prettier already ignores by default these:
# **/.git
# **/.s
# **/.svn
# **/.hg
# **/node_modules

# Non-defaults:
# Ignore everything...
*
# ...except JSON and CSS/SCSS.
!**/*.json
!**/*.yml
!**/*.css
!**/*.scss

# Alternative matching strategy; could compare later for efficiency:
# Ignore everything (still allowing sub-folder scanning)...
#*
#!*/
## ...except these file types.
#!*.json
#!*.yml
#!*.css
#!*.scss
